<div class = "container">
<h1>Pet Shelter</h1>
<h2>Know of a pet needing a home?</h2>
<!--DISPLAY ERRORS HERE-->
<p class = "error" *ngFor = "let e of errorMsg">{{e}}</p>
<form (submit)="createNewPet()">
  <div class="form-group">
    <label for="petname">Pet name:</label>
    <input type="text" class="form-control" name="newPet.name" [(ngModel)]="newPet.name">
  </div>
  <div class="form-group">
    <label for="pettype">Pet type:</label>
    <input type="text" class="form-control" name="newPet.type" [(ngModel)]="newPet.type">
  </div>
  <div class="form-group">
    <label for="petdesc">Pet description:</label>
    <input type="text" class="form-control" name="newPet.description" [(ngModel)]="newPet.description">
  </div>
  <div class="form-group">
    <label for="skill1">Skill 1:</label>
    <input type="text" class="form-control" name="newPet.skills[0]" [(ngModel)]="newPet.skills[0]">
  </div>
  <div class="form-group">
    <label for="skill2">Skill 2:</label>
    <input type="text" class="form-control" name="newPet.skills[1]" [(ngModel)]="newPet.skills[1]">
  </div>
  <div class="form-group">
    <label for="skill3">Skill 3:</label>
    <input type="text" class="form-control" name="newPet.skills[2]" [(ngModel)]="newPet.skills[2]">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button class="btn btn-primary" [routerLink]="['/pets']">Cancel</button>
</div>
